<!DOCTYPE html>
@{ 
    ViewData["Title"] = "Book Store - Welcome!";
}
<html>
    <head>
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="icon" href="~/img/favicon.png"/>
        <title>@ViewData["Title"]</title>
    </head>
    
    <body>
        <main>
            
        </main>

        <footer>

        </footer>
    </body>  
</html>